div.deleteData__Confirmation {
    margin: 10px 0px;
    font-weight: bolder;
    color: rgb(150, 9, 9);
}

div.deleteData__CourseName, div.deleteData__techName {    
    font-weight: bolder;
}

.deleteData__btn--style {
    margin-right: 5px;
    background-color: #f1eeee;
    color: #616161;
    border-radius: 5px;
}